<template>
    <div>
        <div v-if="poolLoaded">
            <div class="" v-if="saving">
                <div class="alert alert-info">
                    <p><i class="fa fa-spin fa-spinner"></i> Updating</p>
                </div>
            </div>
            <div v-else>
                <form @submit.prevent="submitForm" ref="poolSettings">
                    <div class="card bg-transparent mt-1">
                        <div class="card-header brand-gradient bb-brand-grey">
                            <h3>{{pool.name}} Settings</h3>
                            <div class="card-header-controls">
                                <button class="btn btn-brand-blue brand-btn" type="submit">
                                    <i class="fa fa-save"></i> SAVE
                                </button>
                            </div>
                        </div>
                        <div class="card-body pt-3 pl-3 pr-3 pb-0">
                            <div class="row">
                                <div class="col">
                                    <div>
                                        <pool-settings-container
                                            @update-name="updateName"
                                            @update-password="updatePassword"
                                            :processing.sync="processingPool"
                                            :pool.sync="pool"></pool-settings-container>
                                        <entry-container
                                            @update-lock-date="updateLockDate"
                                            @update-lock-type="updateLockType"
                                            @update-lower-to-higher="updatelowerToHigher"
                                            @update-pickable="updatePickable"
                                            @update-max-entries="updateMaxEntries"
                                            @update-number-of-groups="updateNumberOfGroups"
                                            @update-group="updateGroup"
                                            @update-toward-score="updateTowardScore"
                                            @update-pool="updateEntryData"
                                            :processing.sync="processingEntry"
                                            :pool.sync="pool"></entry-container>
                                        <winners-container
                                            @update-pool="updateWinData"
                                            @update-number-of-round-winners="updateNumberOfRoundWinners"
                                            @update-number-of-winners="updateNumberOfWinners"
                                            @update-count-cut="updateCountCut"
                                            @update-playoff-stroke="updatePlayoffStroke"
                                            :processing.sync="processingWin"
                                            :pool="pool"></winners-container>
                                        <invite-container
                                            @update-pool="updateInviteData"
                                            @update-allow-user-invite="updateAllowUserInvite"
                                            @update-view-only="updateViewOnly"
                                            :processing.sync="processingInvite"
                                            :pool="pool"></invite-container>
                                        <rules-container
                                            @update-pool-description="updatePoolDescription"
                                            :processing.sync="processingRules"
                                            :pool.sync="pool"></rules-container>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-brand-blue brand-btn" type="submit">
                                            <i class="fa fa-save"></i> SAVE
                                        </button>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="alert alert-info" v-else>
            <em><i class="fa fa-spin fa-spinner"></i> Laoding...</em>
        </div>
    </div>
</template>

<script>

import PoolTypeContainer from "./PoolType/PoolTypeContainer";
import PoolSettingsContainer from "./PoolSettings/PoolSettingsContainer";
import EntryContainer from "./EntrySettings/EntryContainer";
import WinnersContainer from "./WinnersSettings/WinnersContainer";
import InviteContainer from "./InviteSettings/InviteContainer";
import RulesContainer from "./RulesSettings/RulesContainer";
export default {
    name : "SettingsContainer",
    components: {
        RulesContainer,
        InviteContainer,
        WinnersContainer,
        EntryContainer,
        PoolSettingsContainer,
        PoolTypeContainer
    },
    data: function () {
        return {
            pool : null,
            saving: false,
            processingEntry : false,
            processingInvite : false,
            processingPool : false,
            processingType : false,
            processingRules : false,
            processingWin : false,
            editPoolType : false,
        }
    },
    props: ["id"],
    mounted(){
        // if(this.id){
            this.getPool(this.id);
        // }
    },
    computed : {
        poolLoaded : function(){
            return (this.pool !== null);
        },
        editPoolTypeInProgress : function(){
            return this.editPoolType;
        },

    },
    methods : {
        updateName : function(name){
            this.pool.name = name;
        },
        updatePassword : function(password){
            this.pool.password = password;
        },
        updatePickable : function(pickable){
            this.pool.pickable = pickable;
        },
        updateMaxEntries : function(maxEntries){
            this.pool.max_pool_per_user = maxEntries;
        },
        updateLockDate : function(lockDate){
            this.pool.locks_at = lockDate;
        },
        updateLockType : function(lockType){
            this.pool.lock_type = lockType;
            if(lockType === 'default'){
                this.pool.locks_at = null;
            }
        },
        updateAllowUserInvite : function(inv){
            this.pool.allow_user_invite = inv;
        },
        updateNumberOfGroups : function(groupCount){
            this.pool.number_of_groups = groupCount;
            this.pool.groups.forEach(function(group){
                group.enabled = (parseInt(group.number) <= parseInt(groupCount));
            })
        },
        updateGroup : function(num, max){
            this.pool.groups.forEach(function(group){
                if(group.number == num){
                    group.max = max;
                }
            })
        },
        updateTowardScore : function(newTowardScore){
            this.pool.toward_score = newTowardScore;
        },
        updatelowerToHigher : function(newLowerToHigher){
            this.pool.lower_to_higher = newLowerToHigher;
        },
        submitForm : function(){
            this.updatePool(this.pool);
        },
        getPool : function(id){
            let url ="/golf/"+id+"/edit-vue";
            axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';

            axios.get(url).then((jsonData) => {
                this.pool = jsonData.data.golf;
                // this.golf = jsonData.data.golf;
                // this.players = jsonData.data.players;
            }).catch((err)=> {
                // alert(err);
            });
        },
        updateWinData : function(data){
            this.processingWin = true;
            this.updatePool(data, 'win');
        },
        updatePlayoffStroke : function(playoffStroke){
            this.pool.playoff_stroke = playoffStroke;
        },
        updateNumberOfRoundWinners : function(num){
            this.pool.number_of_round_winners = num;
        },
        updateNumberOfWinners : function(num){
            this.pool.number_of_winners = num;
        },
        updateCountCut : function(cut){
            this.pool.count_cut = cut;
        },
        updateViewOnly : function(viewonly, pin){
            this.pool.view_only.enabled = viewonly;
            this.pool.view_only.pin = pin;
        },
        updateInviteData : function(data){
            this.processingInvite = true;
            this.updatePool(data, 'invite');
        },
        updatePoolData : function(data){
            this.processingPool = true;
            this.updatePool(data, 'pool');
        },
        updatePoolDescription : function(description){
            this.pool.description = description;
        },
        updatePoolType : function(data){
            this.processingType = true;
            this.processingEntry = true;
            this.updatePool(data,'type');
        },
        updateEntryData : function(data){
            this.processingEntry = true;
            this.updatePool(data,'entry');
        },
        updatePool : function(data, section){
            this.saving = true;
            let url ="/golf/"+this.pool.id;
            axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
            data._token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
            data._method = "PUT";
            axios.post(url, data).then((jsonData) => {
                let freshPool = jsonData.data.pool;
                this.$swal({
                    title : "Settings Submitted!",
                    html : "Your pool was saved!",
                    icon: 'check',
                    confirmButtonColor: '#3085d6',
                    // customClass: {
                    //     container: 'bg-black',
                    //     popup: 'bg-brand-darkgrey p-0 border border-white',
                    //     header: ' text-left brand-gradient border border-white text-uppercase',
                    //     title: 'text-white text-left text-uppercase',
                    //     closeButton: 'btn brand-btn btn-brand-blue',
                    //     icon: 'icon-class',
                    //     image: 'image-class',
                    //     content: 'p-3 text-left',
                    //     input: 'input-class',
                    //     actions: 'actions-class',
                    //     confirmButton: 'btn btn-brand-blue brand-btn mb-2',
                    //     cancelButton: 'btn btn-brand-darkgrey brand-btn mb-2',
                    //     footer: 'footer-class'
                    // }
                });
                this.saving  = false;

            }).catch((err)=> {
                // alert(err);
            });
        },
        openPoolType : function(){
            this.editPoolType = true;
        },
        cancelPoolTypeEdit : function(){
            this.editPoolType = false;
        },

    }
};
</script>
