<template>
    <div>
        <div class="p-3">
                <picks-lock
                    :pickable="localPickable"
                    @update-pickable="updatePickable"
                ></picks-lock>
                <max-entry-per-user
                    :pool="pool"
                    @update-max-entries="updateMaxEntries"
                >
                </max-entry-per-user>
                <entry-groups
                    :pool.sync="pool"
                    :warn-picks="hasPicks"
                    :warn-group="hasGrouping"
                    :groups="getGroups"
                    :groupcount.sync="getGroupCount"
                    @update-number-of-groups="updateNumberOfGroups"
                    @update-group="updateGroup"
                ></entry-groups>

                <golfers-toward-score
                    v-if="showTowardScore"
                    :toscore="getTowardScore"
                    :error="neverWin"
                    :max="getTowardScoreMax"
                    @update-toward-score="updateTowardScore"
                ></golfers-toward-score>

            <lower-to-higher-group
                    @update-lower-to-higher="updateLowerToHigher"
                    :lowerToHigher="lowerToHigher"
                    :groupCount="getGroupCount"
                ></lower-to-higher-group>
                <EntryLock
                    :lock-date="lockDate"
                    :lock-type="lockType"
                    @update-lock-type="updateLockType"
                    @update-lock-date="updateLockDate"

                ></EntryLock>
        </div>
    </div>
</template>


<script>

import MaxEntryPerUser from "./MaxEntryPerUser";
import EntryGroups from "./EntryGroups";
import GolfersTowardScore from "./GolfersTowardScore";
import LowerToHigherGroup from "./LowerToHigherGroup";
import EntryLock from "./EntryLock";
import PicksLock from "./PicksLock";
export default {
    name : "EntryContainer",
    components: {
        PicksLock,
        EntryLock,
        LowerToHigherGroup,
        GolfersTowardScore,
        EntryGroups,
        MaxEntryPerUser

    },
    data: function () {
        return {
            saving : false,
            winError : false,
            groupSum : null,
            dataChanged : false,
            editSectionOpen : false,
            towardScore : null,
            maxEntryPerUser : null,
            lowerToHigher : null,
            lockDate : null,
            lockType : null,
            localPickable : false,
            groupCount : null,
        }
    },
    props: ["pool", "processing"],
    mounted(){

    },
    created() {
        this.maxEntryPerUser = this.pool.max_pool_per_user;
        this.groupCount = this.pool.number_of_groups;
        this.towardScore = this.pool.toward_score;
        this.lowerToHigher = this.pool.lower_to_higher;
        this.lockDate = this.pool.locks_at;
        this.lockType = this.pool.lock_type;
        this.localPickable = this.pool.pickable;
        let tmp = [];
        let groupSum = 0;
        this.pool.groups.forEach(function(grp){
            let hold = {
                name : grp.name,
                number : grp.number,
                max : grp.max,
                enabled : grp.enabled
            }
            if(grp.enabled){
                groupSum = groupSum + parseInt(grp.max);
            }
            tmp.push(hold);
        });
        this.groupSum = groupSum;
    },
    computed : {
        inSavingProcess : function(){
            return this.processing;
        },
        hasPicks : function(){
            return this.pool.has_picks;
        },
        hasGrouping : function(){
            return this.pool.has_grouped_players;
        },
        neverWin : function(){
            return (this.getTowardScoreMax < this.getTowardScore);
        },
        hasChanges : function(){
            // this.saving = false;
            // return this.dataChanged;

        },
        getTowardScore : function(){
            return this.pool.toward_score;
        },
        headerOpenIconClass : function(){
            return (this.editSectionOpen) ? "fa fa-chevron-down" : "fa fa-chevron-right";
        },
        getTowardScoreMax : function(){
            let tot = 0;
            this.pool.groups.forEach(function(grp){
                if(grp.enabled){
                    tot = tot + parseInt(grp.max);
                }
            })
            return tot;
        },
        getGroupCount : function(){
            return this.pool.groups.filter(function(grp){ return grp.enabled;}).length;
        },
        getGroups : function (){
            return this.pool.groups;
        },
        showTowardScore : function(){
            return (this.pool.type !== 'prize');
        },
    },
    methods : {
        updateGroup : function(groupNumber, max){
            this.$emit('update-group', groupNumber, max);
        },

        updatePoolData : function(){

        },
        toggleOpen : function(){
            this.editSectionOpen = !this.editSectionOpen;
        },
        updatePickable : function(pickable){
           this.$emit('update-pickable', pickable);

        },
        updateMaxEntries : function(maxEntries){
            this.$emit('update-max-entries', maxEntries);
        },
        updateNumberOfGroups : function(groupCount){
            this.$emit('update-number-of-groups', groupCount);
        },


        updateMaxEntryPerUser : function(val){
            this.maxEntryPerUser = val;
            this.hasNewChanges();
        },

        updateTowardScore : function(newTowardScore){
            console.log("Setting2 ", newTowardScore);
            this.$emit('update-toward-score', newTowardScore);
        },
        updateLowerToHigher : function(newLowerToHigher){
            this.$emit('update-lower-to-higher', newLowerToHigher);
        },
        updateLockType : function(lockType){
           this.$emit('update-lock-type', lockType);
        },
        updateLockDate : function(lockDate){
            return this.$emit('update-lock-date', lockDate);
        },
    },
};
</script>
