<template>
    <div style="border-top: 1px inset #727272 !important;">

        <div v-show="warnPicks" class="alert alert-danger">
            <span class="" v-html="__c('golf.edit.content.pool_has_picks_warning', 'Warning: your pool has picks. Making entries to following settings will delete users\' picks!')"></span>
        </div>
        <div v-show="warnGroup" class="alert alert-danger">
            <span class="" v-html="__c('golf.edit.content.pool_has_groups_warning', 'Warning: you have grouped players, changing groups will reset players!')"></span>
        </div>

        <div class="row form-group pb-0 row">
            <label for="form-label" class="col col-md-4 text-right text-mobile-left required" v-html="__c('golf.edit.content.number_of_groups_label', 'Number Of Groups')"></label>
            <div class="col-md-2">
                <select name="" class="form-control" id="" v-model="numberOfGroups" @change="updateNumberOfGroups()">
                    <option :value="g" v-for="g in 6">{{g}}</option>
                </select>
            </div>
            <div class="col-md-6">
                <div class="help-block" v-html="__c('golf.edit.content.number_of_groups_explanation', 'How many groups')"></div>
            </div>
        </div>
        <div class="row form-group pb-0">
            <div class="col-12">
                <div :class="(isSingleGroup) ? 'row' : 'row justify-content-md-center '">
                    <label v-if="isSingleGroup" class="col col-md-4 text-right text-mobile-left required" v-html="__c('golf.edit.content.single_group_count_label', 'Number of Picks')"></label>
                    <entry-group-config
                        @update-group="updateGroup"
                        :max="getMax"
                        :group.sync="group"
                        :pool="pool"
                        :key="group.number"
                        v-for="group in getGroups"
                        :groupCount="getGroupCount"
                    ></entry-group-config>
                    <div class="help-block  text-center" v-if="isSingleGroup" v-html="__c('golf.edit.content.single_group_picks_explanation', 'How many picks per pool')"></div>
                </div>

            </div>
            <div class="col mx-auto">
                <div class="help-block  text-center" v-if="!isSingleGroup" v-html="__c('golf.edit.content.multi_group_picks_explanation', 'How many picks per group ')"></div>


            </div>
        </div>
    </div>
</template>


<script>

import EntryGroupConfig from "./EntryGroupConfig";
export default {
    name : "EntryGroups",
    components: {
        EntryGroupConfig


    },
    data: function () {
        return {
            // groupCount : this.groupcount,
            localGroups : this.groups,
            numberOfGroups : this.groupcount
        }
    },
    props: ["groups", "pool", "groupcount", "warnPicks", "warnGroup"],
    mounted(){

    },
    created() {
        // this.groupCount =  this.pool.number_of_groups;
        // this.localGroups =  this.groups;
    },
    computed : {
        isSingleGroup : function(){
          return (this.getGroupCount === 1);
        },
        getGroupCount : function(){
            return this.pool.groups.filter(function(grp){ return grp.enabled;}).length;
        },
        getGroups : function(){
            return this.groups;

        },
        getMax : function(){
            return 2;
        },
        isHandicapType : function(){
            return (this.pool.type === 'handicap');
        },
        // numberOfGroups : {
        //     // getter
        //     get: function () {
        //         return this.groupCount;
        //     },
        //     // setter
        //     set: function (groupCount) {
        //
        //     }
        // }

    },
    methods : {
        updateNumberOfGroups : function(){
            this.$emit('update-number-of-groups', this.numberOfGroups);
        },
        updateMaxGroups : function(){
            this.$emit('update-max-groups', this.groupCount);
        },
        updateGroup : function(num, max){
            this.$emit('update-group',num, max);
        },
        updateGroups : function(){
            this.$emit('update-groups', this.localGroups);
        }
    },
};
</script>
