<template>
    <div>
        <div class="row form-group pb-0 row space" v-if="hasGroups">
            <label class="col col-md-4 text-right text-mobile-left required" v-html="__c('golf.edit.content.lower_to_higher_label', 'Allow Lower Players In Higher Group')"></label>
            <div class="col-md-8 ">

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-check">
                            <input class=" form-check-input" @change="updateLowerToHigher" type="radio" v-model="localLowerToHigher" :value="1" name="lower_to_higher" id="lower_to_higher_1">
                            <label class="form-check-label" for="lower_to_higher_1" v-html="__c('golf.edit.content.lower_to_higher_yes', 'Yes')">

                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-check">
                            <input class=" form-check-input" @change="updateLowerToHigher" type="radio" v-model="localLowerToHigher" :value="0" name="lower_to_higher" id="lower_to_higher_0">
                            <label class="form-check-label" for="lower_to_higher_0" v-html="__c('golf.edit.content.lower_to_higher_no', 'No')">

                            </label>
                        </div>
                    </div>
                </div>
                <div class="help-block" v-html="__c('golf.edit.content.lower_to_higher_explanation', 'Lower players in higher groups')"></div>
            </div>
        </div>
    </div>

</template>


<script>

export default {
    name : "LowerToHigherGroup",
    components: {

    },
    data: function () {
        return {
            localLowerToHigher : this.lowerToHigher,
        }
    },
    props: ["lowerToHigher","groupCount"],
    mounted(){

    },
    created() {

    },
    computed : {
        hasGroups : function(){
            return this.groupCount > 1;
        }

    },
    methods : {
        updateLowerToHigher: function(){
            console.log("SEtting to ", this.localLowerToHigher);
            this.$emit('update-lower-to-higher', this.localLowerToHigher);
        }
    },
};
</script>
