<template>
    <div>
        <div class="row form-group pb-0    row">
            <label for="form-label" class="col col-md-4 text-right text-mobile-left required" v-html="__c('golf.edit.content.max_pool_entries_label', 'Max Pool Entries Per user')"></label>
            <div class="col-md-2">
                <input type="number" id="maxPoolPerUser" name="max_pool_per_user" style="width:60px;min-width:60px;max-width:60px;" class="form-control" min="1" v-model="maxEntries">
            </div>
            <div class="col-md-6">
                <div class="help-block" v-html="__c('golf.edit.content.max_per_pools_user_explanation', 'Max per user excluding comish.')"></div>
            </div>
        </div>
    </div>
</template>


<script>

export default {
    name : "MaxEntryPerUser",
    components: {

    },
    data: function () {
        return {
            maxEntryPerUser : null,
            hasChanges : false,
        }
    },
    props: ["pool"],
    mounted(){
        this.maxEntryPerUser = this.pool.max_pool_per_user;
    },
    created() {

    },
    computed : {
        maxEntries : {
            // getter
            get: function () {
                return this.maxEntryPerUser;
            },
            // setter
            set: function (maxEntries) {
                this.$emit('update-max-entries', maxEntries);
            }
        },
    },
    methods : {
        // changeMaxEntryPerUser : function(){
        //     this.$emit('change-max-entry-per-user', this.maxEntryPerUser);
        // }
    },
};
</script>
