<template>
    <div>
        <div class="form-group pb-0 mb-1 row">
            <label for="form-label" class="col col-md-4 text-right text-mobile-left" v-html="__c('golf.edit.content.number_of_round_winners_label', 'How many winners at the end of each round')">
            </label>
            <div class="col-md-2">
                <input type="number" @input="updateNumberOfRoundWinners" class="form-control form-control-settings" v-model="localNumberOfRoundWinners">
            </div>
            <div class="col-md-6">
                <div class="help-block" v-html="__c('golf.edit.content.number_of_round_winners_explanation', 'How many players to win at the end of each round')"></div>
            </div>
        </div>
    </div>
</template>


<script>

export default {
    name : "NumberOfRoundWinners",
    components: {

    },
    data: function () {
        return {
            localNumberOfRoundWinners : this.numberOfRoundWinners
        }
    },
    props: ["numberOfRoundWinners"],
    mounted(){

    },
    created() {

    },
    computed : {

    },
    methods : {
        updateNumberOfRoundWinners : function(){
            console.log("HERE" , this.localNumberOfRoundWinners);
            this.$emit('update-number-of-round-winners', this.localNumberOfRoundWinners);
        }
    },
};
</script>
