<template>
    <div>
        <div class="form-group pb-0 mb-1 row">
            <label for="form-label" class="col col-md-4 text-right text-mobile-left" v-html=" __c('golf.edit.content.number_of_winners_label', 'How many winners')">
            </label>
            <div class="col-md-2">
                <input type="number" @input="updateNumberOfWinners" class="form-control form-control-settings" v-model="localNumberOfWinners">
            </div>
            <div class="col-md-6">
                <div class="help-block" v-html="__c('golf.edit.content.number_of_winners_explanation', 'How many players to win')"></div>
            </div>
        </div>
    </div>
</template>


<script>

export default {
    name : "NumberOfWinners",
    components: {

    },
    data: function () {
        return {
            localNumberOfWinners : this.numberOfWinners,
        }
    },
    props: ["numberOfWinners"],
    mounted(){

    },
    created() {

    },
    computed : {

    },
    methods : {
        updateNumberOfWinners : function(){
            console.log("Number of winners 1", this.localNumberOfWinners);
            this.$emit('update-number-of-winners', this.localNumberOfWinners);
        }
    },
};
</script>
