<template>
    <div>
        <div class="form-group pb-0 mb-1 row">
            <label for="" class="col-sm-7 col-md-4 text-right text-mobile-left" v-html="__c('golf.edit.content.allow_user_invite_label', 'Allow User Invite')"></label>
            <div class="col-sm-5 col-md-8">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-check">
                            <input @change="updateAllowUserInvite" class=" form-check-input" type="radio" name="allow_user_invite" id="allow_user_invite2" v-model="localAllowUserInvite" :value="'auto'">
                            <label class="form-check-label" for="allow_user_invite2" v-html="__c('golf.edit.content.allow_user_invite_yes', 'Yes')">

                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-check">
                            <input @change="updateAllowUserInvite" class=" form-check-input" type="radio" name="allow_user_invite" id="allow_user_invite3" v-model="localAllowUserInvite" :value="'commissioner'">
                            <label class="form-check-label" for="allow_user_invite3" v-html="__c('golf.edit.content.allow_user_invite_no', 'No')">

                            </label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="help-block" v-html="__c('golf.edit.content.allow_user_invite_help', 'Should users be allowed to invite others')"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>

export default {
    name : "AllowUserInvite",
    components: {

    },
    data: function () {
        return {
            localAllowUserInvite : this.allowUserInvite,
        }
    },
    props: ["pool", "allowUserInvite"],
    mounted(){

    },
    created() {

    },
    computed : {

    },
    methods : {
        updateAllowUserInvite : function(){
            this.$emit('update-allow-user-invite', this.localAllowUserInvite);
        }
    },
};
</script>
