<template>
    <div>
        <div class="p-3" style="    border-top: 1px inset #727272 !important;">

            <allow-user-invite
                :pool="pool"
                :allow-user-invite="allowUserInvite"
                @update-allow-user-invite="updateAllowUserInvite"
                @update-view-only="updateViewOnly"
            ></allow-user-invite>
            <view-only :pool="pool" :enabled.sync="viewOnly.enabled" :pin.sync="viewOnly.pin" @update-view-only="updateViewOnly"></view-only>

        </div>

    </div>
</template>


<script>

import AllowUserInvite from "./AllowUserInvite";
import ViewOnly from "./ViewOnly";
export default {
    name : "InviteContainer",
    components: {
        ViewOnly,
        AllowUserInvite

    },
    data: function () {
        return {
            dataChanged : false,
            editSectionOpen : false,
            allowUserInvite : this.pool.allow_user_invite,
            viewOnly : {
                enabled : this.pool.view_only.enabled,
                pin : this.pool.view_only.pin
            }
        }
    },
    props: ["pool", "processing"],
    mounted(){

    },
    created() {

    },
    computed : {
        inSavingProcess : function(){
            return this.processing;
        },
        hasChanges : function(){
            return this.dataChanged;
        },
        headerOpenIconClass : function(){
            return (this.editSectionOpen) ? "fa fa-chevron-down" : "fa fa-chevron-right";
        }
    },
    methods : {
        hasNewChanges : function() {
            this.dataChanged = false;
            if(this.pool.allow_user_invite != this.allowUserInvite){
                this.dataChanged = true;
            }
            if(this.pool.view_only.pin != this.viewOnly.pin){
                this.dataChanged = true;
            }
            if(this.pool.view_only.enabled != this.viewOnly.enabled){
                this.dataChanged = true;
            }
        },
        updatePoolData : function(){
            let data = {
                view_only : {
                    enabled : this.viewOnly.enabled,
                    pin : this.viewOnly.pin
                },
                allow_user_invite : this.allowUserInvite
            }
            this.$emit('update-pool', data);
            // this.dataChanged = false;
        },
        toggleOpen : function(){
            this.editSectionOpen = !this.editSectionOpen;
        },
        updateAllowUserInvite : function(setting){
            this.$emit('update-allow-user-invite', setting);
        },
        updateViewOnly : function(enabled, pin){
            this.$emit('update-view-only', enabled, pin);
        }

    },
};
</script>
