<template>
    <div>
        <div class="form-group pb-0 mb-1 row">
            <label class="col col-md-4 text-right text-mobile-left" v-html="__c('golf.edit.content.allow_non_users_label', 'Allow View Only')"></label>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-check d-inline-block">
                            <input
                                @change="updateViewOnly"
                                class=" form-check-input"
                                type="radio"
                                v-model="localViewOnly"
                                :value="true"
                                :checked="localViewOnly === true"
                            >
                            <label class="form-check-label" v-html="__c('golf.edit.content.pool_view_only_option_yes', 'Yes')">

                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-check d-inline-block">
                            <input
                                @change="updateViewOnly"
                                class=" form-check-input"
                                type="radio"
                                v-model="localViewOnly"
                                :value="false"
                                :checked="localViewOnly === false"
                            >
                            <label class="form-check-label" v-html="__c('golf.edit.content.pool_view_only_option_no', 'No')">
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="help-block" v-html="__c('golf.edit.content.pool_view_only_help', 'Should non-members be allowed to see pool stats')"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-0 m-0" v-show="isViewOnlyEnabled">
            <div class="form-group pb-0 mb-1 row">
                <label class="col col-md-4  text-right text-mobile-left" v-html="__c('golf.edit.content.view_only_pin_label', 'Protect by PIN')"></label>
                <div class="col">
                    <div class="input-group">
                        <input
                            name="pin"
                            class="form-control bg-brand-charcoal text-white"
                            type="text" readonly
                            :value="localPin"
                            maxlength="4"
                            style="text-align: center;"
                        >
                        <span class="input-group-addon">
                            <a @click="generatePin" class="pointer btn btn-brand-darkgrey brand-btn" id="regenCode" style="box-shadow: none;border:2px solid white;">
                                GENERATE
                            </a>
                        </span>
                    </div>
                    <div class="help-block" v-html="__c('golf.edit.content.pool_view_only_pin_help', 'Create PIN code for security')"></div>
                </div>

            </div>
            <div class="form-group pb-0 mb-1 row">
                <div class="col">
                    <div class="input-group">
                        <input type="text" readonly class="form-control bg-brand-charcoal text-white " :value="getUrl" @change="updateViewOnly">
                        <span class="input-group-addon">
                            <button class="btn btn-brand-darkgrey brand-btn   pointer" @click="copyText" style="box-shadow: none;border:2px solid white;"><i class="fa fa-copy"></i></button>
                        </span>
                    </div>
                    <div class="help-block" v-html="__c('golf.edit.content.view_copy_url_label', 'Share this URL')"></div>
                </div>
            </div>
            <div class="">
                <textarea type="text"
                          id="copyPlaceholder"
                          :value="getPreview"
                          readonly
                          class="hidden"
                          ></textarea>
            </div>
        </div>
    </div>
</template>


<script>

export default {
    name : "ViewOnly",
    components: {

    },
    data: function () {
        return {
            localViewOnly : this.enabled,
            localPin : this.pin,
        }
    },
    props: ["pool", "enabled", "pin"],
    mounted(){
        this.localViewOnly = this.enabled;
        this.localPin = this.pin;
    },
    created() {

    },
    computed : {
        isViewOnlyEnabled : function(){
            return (this.localViewOnly);
        },
        getUrl : function(){
            return this.pool.preview_url;
        },
        getPreview : function(){
            return "URL: "+this.pool.preview_url+"\n"+"PIN: "+this.localPin;
        },
    },
    methods : {
        copyText : function(){
            let copyText = document.querySelector('#copyPlaceholder')
            if(copyText){
                copyText.select();
                copyText.setSelectionRange(0, 99999); /*For mobile devices*/
                document.execCommand("copy");
            }

        },
        generatePin : function(){
            let nu = Math.floor(Math.random() * 8999) + 1000;
            this.localPin = nu;
            this.updateViewOnly();
        },
        updateViewOnly : function(){
            this.$emit('update-view-only', this.localViewOnly, this.localPin);
        }
    },
};
</script>
